<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear</title>
    {% load static %} 
    <link rel="icon" href="{% static 'img/panycanela.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Forma.css' %}">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>

    <style>
        body{
            font-family: Arial;
        }

        .error-control{
            border: 1px solid red;
        }

        label.error{
            color: red;
            width: 200px;
            font-size: 0.8em;
            margin-top: -5px;
            margin-bottom: 10px;
        }


        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <script>
        $(function(){

            $("#formulario").validate({
                rules:{
                    id: "required",
                    Nombre: "required",
                    Apellido: "required",
                    Telefono: "required"
                },
                messages: 
                {
                    id:{
                        required: 'Ingrese una id',
                    },

                    Nombre:{
                        required: 'Ingrese un Nombre',
                    },

                    Apellido: {
                        required: 'Ingrese un Apellido',
                    },

                    Telefono: {
                        required: 'Ingrese un Telefono',
                    },
                }
            });
         });

    </script>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4" id="barraNav">
        <a href="inicio.html" id="logoBookStop">
            <img src="{% static 'img/panycanela.jpg' %}" alt="logoPanaderia" width="70px">
        </a>
        <!-- botón hamburguesa -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'QuienesSomos' %}">Quienes somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Galería' %}">Galería</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacto' %}">Contáctanos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'api' %}">API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mostrar' %}">Mostrar Clientes</a>
                </li>
            </ul>

            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="¿Qué buscas?" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btnBuscar">Buscar</button>
            </form>

        </div>
    </nav>

    <div class="container">
        <div class="row">
            <h2>Creando Clientes</h2>
        </div>

        <div class="row">
            <form method="POST" action="#" id="formulario">
                {% csrf_token %}

                <div class="form-group">
                    {{ clienteform.id.label}}
                    {{ clienteform.id}}
                </div>

                <div class="form-group">
                    {{ clienteform.Nombre.label}}
                    {{ clienteform.Nombre}}
                </div>

                <div class="form-group">
                    {{ clienteform.Apellido.label}}
                    {{ clienteform.Apellido}}
                </div>

                <div class="form-group">
                    {{ clienteform.Telefono.label}}
                    {{ clienteform.Telefono}}
                </div>

                <br><br>
                <div class="row">
                    <div class="col-md">
                        <input type="submit" class="btn btn-primary" value="Enviar">
                        <a href="{% url 'inicio' %}" class="btn btn-success">Inicio</a>
                    </div>
                </div>



            </form>
        </div>
    </div>




    
</body>