<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería - Pan y Canela</title>
    {% load static %} 
    <link rel="icon" href="{% static 'img/panycanela.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Forma.css' %}">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>


</head>
<body>

    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4" id="barraNav">
        <a href="inicio.html" id="logoBookStop">
            <img src="{% static 'img/panycanela.jpg' %}" alt="logoPanaderia" width="70px">
        </a>
        <!-- botón hamburguesa -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="inicio.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Quienes somos.html">Quienes somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Galería.html">Galería</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contacto.html">Contáctanos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="API.html">API</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="¿Qué buscas?" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btnBuscar">Buscar</button>
            </form>

        </div>
    </nav>

    <br>
    <br>
    <br>

    <div class="container5">
        <div id="carousel1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel1" data-slide-to="0" class="active"></li>
            </ol>

            <!--definimos las imagenes dentro del carrusel-->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{% static 'img/pastel3.jpg' %}">
                    <div class="carousel-caption">
                        <h3>¡Mira nuestra galería!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="photos">

        <div class="gallery">

            <div class="img-a">
                <img src="{% static 'img/depositphotos.jpg' %}">
            </div>
            <div class="img-b">
                <img src="{% static 'img/panmolde.jpg' %}">
            </div>
            <div class="img-c">
                <img src="{% static 'img/ciabatta.jpg' %}">
            </div>
            <div class="img-d">
                <img src="{% static 'img/e2c65542d1e62d8935dfa2026ceb2baa.jpg' %}">
            </div>
            <div class="img-e">
                <img src="{% static 'img/recetas-de-frappes.jpg' %}">
            </div>
            <div class="img-f">
                <img src="{% static 'img/cover48.jpg' %}">
            </div>
            <div class="img-g">
                <img src="{% static 'img/capuchino-con-chocolate.jpg' %}">
            </div>
            <div class="img-i">
                <img src="{% static 'img/istock-654357990.jpg' %}">
            </div>
            <div class="img-h">
                <img src="{% static 'img/limonada-arandanos.jpg' %}">
            </div>
            <div class="img-j">
                <img src="{% static 'img/tortaOreo.jpg' %}">
            </div>
            <div class="img-k">
                <img src="{% static 'img/tortaFruta.jpg' %}">
            </div>
        </div>
    </div>
    
    <hr>

    <footer>
        <div class="row col-12">
            <div class="col-lg-1">
                <a href="index.html" id="linkFooter"><strong>INICIO</strong></a>
            </div>
            <div class="col-lg-2">
                <strong>CONÓCENOS</strong>
            </div>
            <div class="col-lg-2">
                <strong>GALERÍA</strong>
            </div>

            <div class="col-lg-2">
                <strong>Síguenos</strong>
                <br><br>
                <div class="row">
                    <img src="{% static 'img/2000px-Facebook_font_awesome.svg.png' %}" alt="" width="30px" height="30px"
                        style=" margin-left: 15px;">
                    <img src="{% static 'img/twitter.png' %}" alt="" width="30px" height="30px" style=" margin-left: 10px;">
                    <img src="{% static 'img/Instagram.png' %}" alt="" width="30px" height="30px" style=" margin-left: 10px;">

                </div>
            </div>


            <div class="col-lg-3">

                <strong>Contacto</strong>
                <br><br>
                <div class="row">
                    <img src="{% static 'img/location.png' %}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>Nueva providencia 2021 - Providencia</p>
                </div>
                <div class="row">
                    <img src="{% static 'img/fono.png' %}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>225554000</p>
                </div>
                <div class="row">
                    <img src="{% static 'img/email.png' %}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>panycanela.contac@gmail.cl</p>
                </div>
                <br><br><br>

                <p>&copy; Pan y Canela - 2023</p>
            </div>
        </div>
    </footer>





    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
        
    

    
</body>
</html>