<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    {% load static %} 
    <link rel="icon" href="{% static 'img/panycanela.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Forma.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>

    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
        input{
            float: left;
            width: 200px;
            margin-bottom: 10px;
        }
        label{
            clear: both;
            float: left;
            width: 180px;
        }
        button{
            clear: both;
            float: left;
            width: 50px;
        }
        .error-control{
            border:1px solid red;
        }
        label.error{
            color: red;
            width: 300px;
            font-size: 0.8em;
            margin-top: -5px;
            margin: 10px;
        }
        #caja{
            margin-top: 50px;
            margin-left: 20px;
        }
    </style>

    <script>
        $(function(){
            $("#mi-formulario").validate({
                rules:{
                    email: {
                        required: true,
                        email:true
                    },
                    nombre: "required",
                    apellido: "required",
                    password: "required",
                    fono:"required",
                    password2:{
                        required:true,
                        equalTo:"#password"
                    }
                },
                messages:{
                    nombre: {
                        required: 'Ingrese su nombre',
                    },
                    apellido: {
                        required: 'Ingrese su apellido',
                    },
                    email: {
                        required: 'Ingrese su correo electrónico',
                        email:'Formato de correo no válido'
                    },
                    password:{
                        required:'Ingrese su contraseña',
                        minlength: 'Carácteres insufincientes'
                    },
                    fono:{
                        required:'Ingrese un número válido',
                        minlength:'Cantida de dígitos insuficientes'
                    },
                    password2:{
                        required:'Reingrese su contraseña',
                        equalTo:'Las contraseñas ingresadas no coinciden',
                        minlength:'caracteres insuficientes'
                    }
                }
            });

        });


    </script>


</head>
<body>

    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4" id="barraNav">
        <a href="inicio.html" id="logoBookStop">
            <img src="{% static 'img/panycanela.jpg' %}" alt="logoPanaderia" width="40px">Pan y Canela
        </a>
        <!-- botón hamburguesa -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="inicio.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Quienes somos.html">Quienes somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Galería.html">Galería</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="¿Qué buscas?" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btnBuscar">Buscar</button>
            </form>
            <div>
                <a href="login.html" id="userPanaderia">
                    <img src="{% static 'img/panycanela.jpg' %}" alt="userPanaderia" width="20px">Iniciar sesión
                </a>
            </div>
        </div>
    </nav>

    <br>
    <br>
    <br>

    <h1>Registro</h1>
    <hr>
    <div id="caja">
        <form id="mi-formulario" action="#" method="post">

            <label for="nombre">Nombre: </label>
            <input type="text" name="nombre" id="nombre" required>

            <label for="apellido">Apellido: </label>
            <input type="text" name="apellido" id="apellido" required> 

            <label for="telefono">Telefóno: </label>
            <input type="text" name="fono" id="telefono" minlength="9" required>

            <label for="correo">Correo electrónico </label>
            <input type="text" name="email" id="correo" required placeholder="nombre@dominio.cl">

            <label for="password">Contraseña</label>
            <input type="password" id="password"  name="password" minlength="6">

            <label for="password2">Reingrese Contraseña</label>
            <input type="password" id="password2" name="password2" minlength="6">

            <button>Enviar</button>  
        </form>
    </div>

    <br>
    <br>

    <footer>
        <div class="row col-12">
            <div class="col-lg-1">
                <a href="inicio.html" id="linkFooter"><strong>INICIO</strong></a>
            </div>
            <div class="col-lg-2">
                <strong>CONÓCENOS</strong>
            </div>
            <div class="col-lg-2">
                <strong>GALERÍA</strong>
            </div>

            <div class="col-lg-2">
                <strong>Síguenos</strong>
                <br><br>
                <div class="row">
                    <img src="{% static 'img/2000px-Facebook_font_awesome.svg.png' %}" alt="" width="30px" height="30px"
                        style=" margin-left: 15px;">
                    <img src="{% static 'img/twitter.png' %}" alt="" width="30px" height="30px" style=" margin-left: 10px;">
                    <img src="{% static 'img/Instagram.png' %}" alt="" width="30px" height="30px" style=" margin-left: 10px;">

                </div>
            </div>


            <div class="col-lg-3">

                <strong>Contacto</strong>
                <br><br>
                <div class="row">
                    <img src="{% static 'img/location.png' %}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>Nueva providencia 2021, Providencia</p>
                </div>
                <div class="row">
                    <img src="{% static 'img/fono.png' %}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>225554000</p>
                </div>
                <div class="row">
                    <img src="{% static 'img/email.png' %}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>panycanela.contac@gmail.cl</p>
                </div>
                <br><br><br>

                <p>&copy; Pan y Canela - 2023</p>
            </div>
        </div>
    </footer>
</body>
</html>
